body {
  padding: 0;
  margin: 0;
}

.hero {
  background-color: black;
  width: 100px;
  height: 100px;
  animation: run 10s linear infinite;
}

@keyframes run {
  0% {
    transform: translate(0, 0);
  }

  33% {
    transform: translate(0, calc(100vh - 100px));
  }

  66% {
    transform: translate(calc(100vw - 100px), calc(100vh - 100px));
  }

  100% {
    transform: translate(0, 0);
  }
}

.superhero {
  width: 75px;
  height: 75px;
  background-color: cadetblue;
  animation: smash 14s linear infinite;
}

@keyframes smash {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, calc(90vh - 75px));
  }

  40% {
    transform: translate(calc(100vw - 75px), calc(90vh - 75px));
  }

  60% {
    transform: translate(calc(100vw - 75px), 0);
  }

  80% {
    transform: translate(0, calc(90vh - 75px));
  }

  100% {
    transform: translate(0, 0);
  }
}
