picture {
  margin: 0 auto;
  text-align: center;
  display: block;
}

@media (min-width: 993px) {
  picture {
    width: 100%;
    display: block; /* este necesar pt pixellab */
  }

  picture img {
    width: 100%;
  }
}
/*  */
